.App {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  margin-bottom: 0;
}

.Footer {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

.Link {
  text-decoration: none;
  font-weight: bold;
}
