.Weather {
  background: radial-gradient(
    848px at 10% 20%,
    rgba(174, 231, 165, 0.9) 0%,
    rgb(181, 205, 154) 90%
  );
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 2px rgb(15, 85, 15);
  border-radius: 8px;
  text-transform: uppercase;
}

.Weather h1 h2 {
  font-weight: bold;
}

.Weather ul {
  list-style: none;
  text-align: left;
}
